services:
  dev:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ./:/src/
    tty: true
    networks:
      default:
  mlflow:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    # volumes:
    #   - ./:/src/
    tty: true
    networks:
      default:  
networks:
  default:
